.SideMenu{
    padding: 10px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.SideGroups{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}