.NewPostSec{
    width: 100%;
    background: white;
    padding: 12px 27px;
    border-radius: 7px;
    box-sizing: border-box;
}

.PostPfp{
    width: 50px;
    height: 50px;
}

.TopSec{
    display: flex;
    align-items: center;
    gap: 15px;
}

.PostBox{
    padding: 12px;
    border-radius: 90px;
    background-color: #F0F2F5;
    width: 100%;
    box-sizing: border-box;
}

.PostLine{
    height: 2px;
    width: 100%;
    background-color: #F0F2F5;
    margin: 20px 0;
}

.BottomSec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 140px;
}

.BottomBtns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.BottomBtn{
    display: flex;
    gap: 10px;
    color: #65676B;
}