.Post{
    background-color: white;
    padding: 12px;
    border-radius: 7px;
}

.PostHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.PostProf{
    display: flex;
    align-items: center;
    gap: 10px;
}

.PostProfPic{
    width: 50px;
    height: 50px;
}


.PostName{
    font-size: 16px;
}

.PostDate{
    font-size: 13px;
    color: #888;
    
}

.PostImg{
    width: 100%;
}