.SideBtn{
    padding: 10px 45px;
    background: #1877F2;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.SideBtn:hover{
    background-color: #1050a3;
}